<a href="https://colab.research.google.com/github/Ayanlola2002/Stutern/blob/master/class_task_webscrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from requests import get
url = 'http://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&page=1'
response = get(url)
print(response.text[:500])

<!DOCTYPE html>
<html
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-itunes-app" content="app-id=342792525, app-argument=imdb:///?src=mdot">



        <script type="text/javascript">var IMDbTimer={starttime: new Date().getTime(),pt:'java'};</script>

<script>
    if (typeof uet == 'function') {
      uet("bb", "LoadTitle"

In [2]:
from bs4 import BeautifulSoup
html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [3]:
movie_containers = html_soup.find_all('div', class_ = 'lister-item mode-advanced')
print(type(movie_containers))
print(len(movie_containers))

<class 'bs4.element.ResultSet'>
50

In [0]:
# Lists to store the scraped data in
names = []
years = []
imdb_ratings = []
metascores = []
votes = []
# Extract data from individual movie container
for container in movie_containers:
# If the movie has Metascore, then extract:
    if container.find('div', class_ = 'ratings-metascore') is not None:

# The name
      name = container.h3.a.text
      names.append(name)
# The year
      year = container.h3.find('span', class_ = 'lister-item-year').text
      years.append(year)
# The IMDB rating
      imdb = float(container.strong.text)
      imdb_ratings.append(imdb)
# The Metascore
      m_score = container.find('span', class_ = 'metascore').text
      metascores.append(int(m_score))
# The number of votes
      vote = container.find('span', attrs = {'name':'nv'})['data-value']
      votes.append(int(vote))

In [6]:
import re
#using regular expression
y=[]
for i in range(len(years)):
    #y returns a list of list
    y.append(re.findall(r'\d+',years[i]))
    #to convert a list of list to a single list we use
    year = [','.join(x) for x in y]
year

['2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017',
 '2017']

In [7]:
import pandas as pd
test_df = pd.DataFrame({'movie': names,
'year': year,
'imdb': imdb_ratings,
'metascore': metascores,
'votes': votes
})
print(test_df.info())
test_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      42 non-null     object
 1   year       42 non-null     object
 2   imdb       42 non-null     float64
 3   metascore  42 non-null     int64
 4   votes      42 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.8+ KB
None

                                               movie  year  ...  metascore   votes
0                                              Logan  2017  ...         77  611196
1                                     Thor: Ragnarok  2017  ...         74  546002
2                     Guardians of the Galaxy Vol. 2  2017  ...         67  535086
3            Star Wars: Episode VIII - The Last Jedi  2017  ...         85  533947
4                                       Wonder Woman  2017  ...         76  524627
5                                            Dunkirk  2017  ...         94  512800
6                             Spider-Man: Homecoming  2017  ...         73  480248
7                                            Get Out  2017  ...         85  455667
8                                                 It  2017  ...         69  430393
9                                  Blade Runner 2049  2017  ...         81  426007
10                                       Baby Driver  2017  ...         86  407134
11         Three Billboards Outside Ebbing, Missouri  2017  ...         88  394650
12                                    Justice League  2017  ...         45  359923
13                                The Shape of Water  2017  ...         87  346656
14                              John Wick: Chapter 2  2017  ...         75  340357
15                                              Coco  2017  ...         81  333818
16                    Jumanji: Welcome to the Jungle  2017  ...         58  297973
17                              Beauty and the Beast  2017  ...         65  257843
18                                Kong: Skull Island  2017  ...         62  256374
19                       Kingsman: The Golden Circle  2017  ...         44  254401
20  Pirates of the Caribbean: Dead Men Tell No Tales  2017  ...         39  247428
21                                   Alien: Covenant  2017  ...         65  242718
22                              The Greatest Showman  2017  ...         48  218885
23                    War for the Planet of the Apes  2017  ...         82  216666
24                                         Lady Bird  2017  ...         94  214159
25                      Murder on the Orient Express  2017  ...         52  196759
26                                              Life  2017  ...         54  196313
27                           The Fate of the Furious  2017  ...         56  194696
28                                Ghost in the Shell  2017  ...         52  188157
29                                        Wind River  2017  ...         73  187995
30                              Call Me by Your Name  2017  ...         93  187056
31                  King Arthur: Legend of the Sword  2017  ...         41  182142
32                                           Mother!  2017  ...         75  178337
33                            The Hitman's Bodyguard  2017  ...         47  176557
34                                          I, Tonya  2017  ...         77  165940
35                                     Atomic Blonde  2017  ...         63  165761
36                                         The Mummy  2017  ...         34  165686
37                                            Bright  2017  ...         29  160359
38                                      Darkest Hour  2017  ...         75  158048
39       Valerian and the City of a Thousand Planets  2017  ...         51  153722
40                                          Baywatch  2017  ...         37  152032
41                                     American Made  2017  ...         65  148357

[42 rows x 5 columns]