<a href="https://colab.research.google.com/github/Ayanlola2002/Stutern/blob/master/Stutern_Group_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
all_accounts=pd.read_csv('/content/drive/My Drive/raw/all_accounts.csv')
all_balances=pd.read_csv('/content/drive/My Drive/raw/all_balances.csv')
#all_demographics=pd.read_csv('/content/drive/My Drive/raw/all_demographics.csv')
all_investments=pd.read_csv('/content/drive/My Drive/raw/all_investments.csv')
all_loans=pd.read_csv('/content/drive/My Drive/raw/all_loans.csv')
all_loans_application=pd.read_csv('/content/drive/My Drive/raw/all_loans_application.csv')
all_transactions_digital=pd.read_csv('/content/drive/My Drive/raw/all_transactions_digital.csv')
bureau_score=pd.read_csv('/content/drive/My Drive/raw/bureau_score.csv')
all_dictionary=pd.read_csv('/content/drive/My Drive/raw/dictionary.csv')

In [21]:
all_dictionary

                                                                            Table 1
FEATURES                        DESCRIPTION               DATA TYPE    NaN      NaN
BRN                             Branch code               VARCHAR2(3)  NaN      NaN
ACC                             Account number or GL code VARCHAR2(20) NaN      NaN
VAL_DT                          Value date                DATE         NaN      NaN
BAL                             Balance                   NUMBER(24,3) NaN      NaN
...                                                                             ...
CREDIT_CARDS                    Number of Credit cards    NaN          NaN      NaN
E_COUNTRY                       Country belonged to       NaN          NaN      NaN
VST_US_PREV                     NaN                       NaN          NaN      NaN
DATE_OF_BIRTH                   Date of birth             NaN          NaN      NaN
MINOR                           Minor                     NaN          NaN      NaN

[118 rows x 1 columns]

In [22]:
#we use the all_loans_applications customer id 
#this indicates all those customers that apply for loans 
#it may also be possible that a customer ask for multiple loans
print(all_loans.shape)
print(all_loans_application.shape)

(278505, 10)
(23172, 8)

In [0]:
#setting customerId as index 
all_loans_application.set_index('CUSTOMER_UNIQUE_ID',inplace=True)

In [0]:
#extracting customer ID from  all_loan_applications
important_indexes=all_loans_application.index.unique()

In [0]:
#resetting of all_accounts index
all_accounts.set_index('CUSTOMER_UNIQUE_ID',inplace=True)

In [26]:
all_accounts=all_accounts.loc[important_indexes]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

In [27]:
all_accounts['RECORD_STAT'].value_counts()

O    27281
C     1776
Name: RECORD_STAT, dtype: int64

In [28]:
all_accounts.shape

(29068, 4)

In [0]:
all_accounts.drop(columns='MASKED_ACCOUNT',inplace=True)

In [30]:
#checking different type of currency
all_accounts['CCY'].value_counts()

NGN    26765
USD     2082
GBP      146
EUR       64
Name: CCY, dtype: int64

In [0]:
#function to convert different currency to naira
def con(data):
    data.loc[data.CCY=='USD','ACY_AVL_BAL']=data.loc[data.CCY=='USD','ACY_AVL_BAL'].apply(lambda x: x*365)
    data.loc[data.CCY=='EUR','ACY_AVL_BAL']=data.loc[data.CCY=='EUR','ACY_AVL_BAL'].apply(lambda x: x*398)
    data.loc[data.CCY=='GBP','ACY_AVL_BAL']=data.loc[data.CCY=='GPB','ACY_AVL_BAL'].apply(lambda x: x*467)
    data.loc[data.CCY=='JPY','ACY_AVL_BAL']=data.loc[data.CCY=='JPY','ACY_AVL_BAL'].apply(lambda x: x*3.31)
    return data

In [0]:
#changing all account to naira notes
all_accounts=con(all_accounts)

In [0]:
#convert index to int
all_accounts.index=all_accounts.index.astype('int')

In [0]:
#sort index
all_accounts.sort_index(inplace=True)

In [37]:
#some of the ACY_AVL_BAL IS negative we will assumed it is zero 
all_accounts['ACY_AVL_BAL'].value_counts()

 0.00          12405
-52.50           243
-105.00           69
 950.00           33
 1.00             26
               ...
 77773.41          1
 4058776.43        1
 125.53            1
 14164.08          1
-145.34            1
Name: ACY_AVL_BAL, Length: 14389, dtype: int64

In [0]:
#for all ACY_AVL_BAL that is negative RECORD STAT IS C we convert to zero
all_accounts.loc[(all_accounts.ACY_AVL_BAL!=0) & (all_accounts.RECORD_STAT=="C"),'ACY_AVL_BAL']=0

In [39]:
all_accounts.index.value_counts()

69090004     34
578029002    27
172877006    25
657601000    23
679735005    22
             ..
952341006     1
73406011      1
234473009     1
806118002     1
909990007     1
Name: CUSTOMER_UNIQUE_ID, Length: 17986, dtype: int64

In [18]:
#most of the customer id appears more than ones so we can group by like the example below
all_accounts.loc[69090004]

                   MASKED_ACCOUNT RECORD_STAT  ACY_AVL_BAL  CCY
CUSTOMER_UNIQUE_ID
69090004               00******87           O       625.00  GBP
69090004               08******25           O         0.00  NGN
69090004               07******90           C         0.00  USD
69090004               00******24           O       245.16  USD
69090004               00******12           O   1262799.23  NGN
69090004               07******24           O         0.00  NGN
69090004               07******13           O        28.09  NGN
69090004               07******00           O         0.00  NGN
69090004               07******51           O         0.00  NGN
69090004               07******05           O        37.53  USD
69090004               07******98           C         0.00  NGN
69090004               07******64           O         0.00  NGN
69090004               07******66           O         0.00  NGN
69090004               07******67           O         0.00  NGN
69090004               07******49           O         0.00  USD
69090004               07******02           C         0.00  NGN
69090004               07******54           O         0.00  NGN
69090004               00******44           O     37128.66  NGN
69090004               07******81           O         0.00  NGN
69090004               00******14           O         0.00  NGN
69090004               07******31           O         0.00  USD
69090004               08******82           O         0.00  USD
69090004               07******71           O         0.00  NGN
69090004               07******67           O         0.00  USD
69090004               07******57           O         0.00  GBP
69090004               00******30           O    182391.76  NGN
69090004               07******70           O         0.00  NGN
69090004               07******63           O         0.00  USD
69090004               07******33           O         0.00  USD
69090004               00******45           C         0.00  NGN
69090004               07******61           O         0.00  NGN
69090004               07******29           O         0.00  NGN
69090004               07******19           O        29.01  NGN
69090004               07******99           C         0.00  NGN

In [0]:
all_accounts_data=all_accounts.groupby([all_accounts.index])[['ACY_AVL_BAL']].sum()

In [42]:
all_accounts_data.head()

                    ACY_AVL_BAL
CUSTOMER_UNIQUE_ID
56000                 136043.48
62005                1541719.95
104008                 12364.06
175007                 20029.55
200006                 61489.56